<div class="navbarContainer">
  <main>
  <h1>FM</h1>
  <nav class="navMenu">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
  <nav class="navMenuBurger">
    <div class="navMenuBurgerIcon">
     <p></p>
     <p></p>
     <p></p>
    </div>
    <section class="navMenuBurgerInfoContainer">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </section>
  </nav>
</main>
</div>