<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/htmlHead.ejs') %>
<body>
  <%- include('./includes/navBar.ejs') %>
  <%- include('./includes/homepage.ejs') %>
  <%- include('./includes/footer.ejs') %>
</body>
</html>